/* TODO */
.easy-editor-device-default-canvas {
  top: var(--simulator-top-distance, 16px);
  right: var(--simulator-right-distance, 16px);
  bottom: var(--simulator-bottom-distance, 16px);
  left: var(--simulator-left-distance, 16px);
  width: auto;
}

/* TODO */
.easy-editor-device-default-viewport {
  box-shadow: 0 1px 40px 0 var(--color-block-background-shallow, rgba(31, 50, 88, 0.125));
}
