.easy-editor {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.easy-editor-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.easy-editor-viewport {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 0;
  width: 100%;

  transform-origin: 0px 0px;
  transform: scale(1) translate(-50%, -50%);
}

.easy-editor-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  border: none;
  transform-origin: 0 0;
  height: 100%;
  width: 100%;

  .easy-editor-simulator-frame {
    border: none;
    transform-origin: 0 0;
    height: 100%;
    width: 100%;
  }
}

.easy-editor-component-container {
  position: absolute;
  border: none;
  user-select: none;
  touch-action: none;
  pointer-events: auto;

  &.mask {
    cursor: move !important;
  }

  .easy-editor-component-mask {
    position: absolute;

    .easy-editor-component {
      &.mask {
        pointer-events: none;
      }
    }
  }
}
